ci:
  autofix_prs: true
  autoupdate_schedule: quarterly

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        name: End-of-file fixer
      - id: trailing-whitespace
        name: Remove trailing whitespaces

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: Sort imports

  - repo: https://github.com/google/yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        name: Format code

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        name: Check PEP8
        args: [
          "--max-line-length=80",
          "--extend-ignore=E203",
          "--per-file-ignores=*/__init__.py:F401,F403"
        ]

  - repo: https://github.com/regebro/pyroma
    rev: "4.1"
    hooks:
      - id: pyroma
        name: Check packaging
        args: [ --min=10, . ]
